@font-face {
    font-family: 'Avenir-Regular';
    src: url('./AvenirNextLTPro-Regular.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Cera-Pro';
    src: url('./Cera\ Pro\ Black.otf');
    font-style: normal;
}


@font-face {
    font-family: 'Avenir-Bold';
    src: url('./AvenirNextLTPro-Bold.otf');
    font-style: normal;
}




